nav{
    background-color: red;
    height: 50px;
    
}
#container{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    padding: 10px;
    padding-bottom: 10px;

    
}
a{
    margin: 10px;
    text-decoration: none;
    color: white;
    text-align: center;

    
}

#con{
    display: inline-block;
    margin: 15px;
    text-align: center;
  ;
    border:2px solid  red;
    padding: 14px;
    border-radius: 10px;
   
    width: 20%;
}
img{
    width: 100%;
}
button{
    border-radius: 20px;
}
#dl{
    width: 50%;
    margin: auto;
    text-align: center;
}